body {
    background: lightcyan;
   
  }
  
  h1 {
      background: paleturquoise;


      color: navy;
      
      font-family: cursive;
  }
  
  b {
      
      color: black;
      font-family: cursive;
      
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .introduce {
    color: royalblue;
 
    font-size: 22px;
    font-family: cursive;
  }
  
  .blue {
    color: navy;
    font-family: cursive;
  }